td {
    border: 1px solid #333;
}
.formulaire{
    border: 1px solid #333;
    padding: 20px;
}
nav{
    padding-bottom: 10px;
}
.nav-item button{
    margin-right: 10px;
}
.card-title a
{
    color: #343a40;
}
/*--panier de regles--*/
#listefixed{
    position: fixed;
    background: #343a40;
    background: #69E069;
    color: black;
    left: 10px;
    top: 15%;
    text-align: center;
    padding: 0px;
}
#listeregleselectioner{
    padding: 0px;
}
#listeregleselectioner > div{
    font-size: small;
    padding-top: 5px;
}
#listeregleselectioner  button{
    margin: 1px;
    padding: 3px 5px;
    width: auto;
    font-size: smaller;
    height: auto;
    text-align: center;
}
#bselectionregle{
    margin: 20px 0px;
}
/*--cards--*/
.card-title >.btn-link{
    color: black;
}
.souscatobjet{
    border: 3px solid #D2F454;
    padding: 10px;
}

/*--couleurs et cards header--*/
.color-primary-0 { color: #90EE90 }
.color-primary-1 { color: #ECFEEC }
.color-primary-2 { color: #BDF8BD }
.color-regle { background: #69E069;}
.color-primary-4 { color: #46CE46 }

.color-secondary-1-0 { color: #8CC3E0 }
.color-secondary-1-1 { color: #ECF7FD }
.color-secondary-1-2 { color: #BBDFF2 }
.color-categorie { background: #62A3C7;box-shadow: 5px 10px #3E81A5;  }
.color-secondary-1-4 { color: #3E81A5 }

.color-secondary-2-0 { color: #E6FB98 }
.color-secondary-2-1 { color: #FBFFEC }
.color-secondary-2-2 { color: #F1FEC1 }
.color-scat { background: #DCF874; }
.color-secondary-2-4 { color: #D2F454 }