<#import "main.ftlh" as m>

<@m.page title="">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <h1> Création d'une Sous Categorie</h1>
    <form method="post" class="formulaire" action="/Gestionnaire/nouvelleSousCategorie">
        <b>Formulaire de création d'une sous categorie :</b> <br/>
        <input hidden name="idcat" value="${id}">
        <label for="titre">Titre de la Sous Categorie :</label>
        <input name="title" required id="titre" type="text">

        <label for="numordre">Numero de la Sous Categorie :</label>
        <input name="numordre" size="2" readonly required id="numordre" type="number" value="${numordre}">

        <label for="objet"> Objet de la Sous Categorie :</label>
        </br>
        </br>
        <textarea name="object" id="objet" class="editeurtxt" ></textarea>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </br>
        <button class="btn btn-secondary text-white">Envoyer</button>
    </form>
    </div>
    </div>
    </div>
</@m.page>